<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile_styles.css">
</head>
<body>
    <div class="container mt-5">
        <h2>User Profile</h2>
        <div class="profile-info">
            <p>Name: Name Should Be Here</p>
            <p>Username: Username Should Be Here</p>
            <p>Email: Email Should Be Here</p>
            <p>Gender: Gender Should Be Here</p>
            <p>Bio: Bio Should Be Here</p>
        </div>
        <a href="/editprofile" class="btn btn-primary mt-3">Edit Profile</a>
        <a href="/matches" class="btn btn-secondary mt-3">Back Home</a>
    </div>
</body>
</html>
