/* Styling for the entire page body */
body, html {
    height: 100%;
    margin: 0;
    background-color: #590517; /* Assuming you want a white background */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for a container that centers its content */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for a stack-like container for profile images */
.profile-stack {
    position: relative;
    width: 500px; /* Width of the photo container */
    height: 600px; /* Height of the photo container */
    overflow: hidden;
}

/* Styling for the profile image */
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* Styling for a button to view a person's profile */
.person-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    z-index: 1000;
}

/* Styling for the person icon inside the button */
.person-btn .bi-person-fill {
    color: #ffffff;
    font-size: 30px;
}

/* Styles for action buttons on the profile stack */
.profile-stack .btn {
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
}

/* Styling for the dislike button */
.dislike-btn {
    bottom: 10px;
    left: 50%;
    transform: translateX(-120%);
}

/* Styling for the SVG icon inside the dislike button */
.dislike-btn svg {
    fill: currentColor;
    width: 24px;
    height: 30px;
}

/* Styling for the like button */
.like-btn {
    bottom: 10px;
    left: 50%;
    transform: translateX(20%);
}

/* Styling for a message notification */
.message {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C19218;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

/* Styling for a funny quote */
.funny-quote {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #C19218;
    font-family: 'Champignon', cursive;
    font-size: 45px;
    text-align: center;
    z-index: 5;
}

/* Styling for profile information */
.profile-info {
    position: fixed;
    bottom: 410px;
    left: 30%;
    transform: translateX(-50%);
    background-color: #C19218;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

/* Styling for profile name, bio, and interests */
.profile-name, .profile-bio, .profile-interests {
    margin-bottom: 10px;
}
